<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>页面b</title>
</head>
<body>
<h1>页面b</h1>
<script src="/vendor.bundle.js"></script>
<script src="/common-a-b.js"></script>
<script src="/b.js"></script>
</body>
</html>