<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>页面c</title>
</head>
<body>
<h1>页面c</h1>
<h1>需要用到bootstrap-datepicker</h1>
<div class="filter-condition long-filter-condition input-daterange" id="datepicker">
  <div class="left w30">
    <label for="startTime" class="right">时间：</label>
  </div>
  <div class="left w70">
    <input type="text" placeholder="开始时间" class="short-input w45" name="startTime" id="startTime"/>
    <span>-</span>
    <input type="text" placeholder="结束时间" class="short-input w45" name="endTime" id="endTime"/>
  </div>

</div>
<script src="/vendor.bundle.js"></script>
<script src="/c.js"></script>
</body>
</html>