<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>整合webpack到普通项目</title>
</head>
<body>

<script src="/vendor.bundle.js"></script>
<script src="/index.js"></script>
</body>
</html>