<!doctype html>
<html lang="en">
<head>
  <title>扶뒬못</title>
  <% include ./layout/head.ejs %>
  <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
<h1>扶뒬못</h1>

<% include ./layout/foot.ejs  %>
<script src="/js/index.js"></script>
</body>
</html>